@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-1">Welcome to Davis' Paint</h1>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Paint Name</th>
                <th scope="col">General Color</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Bubblegum</td>
                <td>Pink</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Clear Skies</td>
                <td>Light Blue</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Moonless Night</td>
                <td>Black</td>
            </tr>
        </tbody>
    </table>
</div>

<h2>About Davis' Paint</h2>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer quam dolor, venenatis eget quam at, maximus vulputate velit. 
    Morbi quis facilisis nisl. Fusce tincidunt, sem vel volutpat dapibus, elit dui elementum augue, vel rhoncus ipsum orci at est. Vestibulum pharetra laoreet posuere. 
    Integer bibendum eros tortor, eget posuere lacus porttitor ut. Maecenas non urna lacinia, auctor libero finibus, dictum est. Donec eu egestas ligula, nec semper velit.
</p>